body {
  margin: 0;
  padding: 0;
  font-family: serif;
  background-color: #333333;
  color: #ffffff;
  text-align: center;
}

body a {
  color: #add8e6;
}

body a:visited {
  color: #f9f2f9;
}

.profile {
  text-align: center;
}

.profile h1 {
  font-size: 40px;
}

.profile img {
  width: 200px;
  height: auto;
}

.profile h3 {
  margin-top: 20px;
  text-decoration: underline;
}

.profile p {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 15px;
}

.profile .content-box {
  border: 1px solid #000;
  padding: 10px;
  width: 70%;
  margin: 0 auto;
}

.profile .content-box textarea {
  width: 100%;
  height: 150px; /* Adjust height as needed */
  resize: none;
}

.headers {
  text-align: center;
}

.about {
 text-wrap: wrap;
}

header h1 {
  font-size: 2.5em;
  font-weight: 900;
  text-align: center;
  padding: 0.5rem 0;
}

.logo {
  font-size: 1.25em;
  padding-left: .5rem;
  text-shadow: 0 0 0 var(--green);
}

.new-country-form {
  text-align: center;
  padding: 2rem 1rem;
  margin: 2rem 0;
  background-color: rgb(27, 26, 26);
}

.new-country-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.new-country-form input {
  height: 100%;
  width: 100%;
  margin: auto;
}

.new-country-form textarea {
  flex: 1;
  height: 100%;
  width: 100%;
}

.new-country-form select {
  margin-right: 2rem;
  flex: 1;
}

.new-country-form button {
  width: 150px;
}

.form-input {
  margin-bottom: 10px;
  width: 200px;
}

.cards {
  list-style: none;
}

.card {
  margin: 1rem;
}

.card img {
  width: 50%;
}

.card button {
  margin-top: 0.5rem;
}

@media (min-width: 768px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    width: calc(33% - 2rem);
  }
}

/* @media (min-width: 1024px) {
  .card {
    width: calc(25% - 2rem);
  }
} */

/* @media (min-width: 1200px) {
  .card {
    width: calc(20% - 2rem);
  }
} */